* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FAFAFA;
  height: 200vh;
}

img {
  width: 10rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  background-color: #fff;
  z-index: 999;
  box-shadow: 2px 2px 10px #595858 ;
}

/* Login Status Style */
#login-status {
  display: none;
  position: fixed;
  right: 70px;
  top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(12, 122, 12);
}

#btn-signout {
  font-size: 0.8rem;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #d84747;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-signout:hover {
  background-color: #ce2a2a;
  box-shadow: 1px 1px 4px rgb(81, 80, 80);
}



.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

ul {
  display: flex;
}

ul > a {
  list-style: none;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.2s ease-in;
}

ul > a:hover {
  color: #fff;
  background-color: #00267f;
  border-radius: 4px;
}

/* Seperator Styles */
.seperate-container {
  width: 100%;
  background-color: #000A4A;
  margin-top: 10px;
  color: #fff;
  font-size: 0.6rem;
  padding: 10px 20px;
  position: relative;
}

.seperate-container i {
  font-size: 1.2rem;
  margin-right: 15px;
}

.seperate-container h1 {
  font-weight: 500;
  margin-left: 80px;
}

/* Aside containe styles */
.aside-container {
  position: fixed;
  height: 100vh;
  background-color: #000731;
  top: 8vw;
  width: 15%;
  box-shadow: 2px 2px 7px #595858 ;

}

/* Main container styles */
.main-container {
  position: relative;
  top: 150px;
}



/* User popup styles */
.user-popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #afb2b9b9;
  z-index: 1000;
}

.popup-content {
  display: flex;
  max-width: 80vw;
  min-height: 70vh;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #0000004b;
  position: relative;

}

.popup-content i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.popup-content i:hover {
  color: #d84747;
}

.popup-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  position: relative;
}

.popup-desc h2 {
  position: absolute;
  top: 70px;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  text-align: left;
}

.login-form label {
  justify-content: left;
  font-size: 1rem;
  color: #000000df;
}

.login-form input {
  border: 1px solid gray;
  font-size: 1rem;
  padding: 5px 30px;
  margin-bottom: 20px;
}

.login-form button {
  font-size: 1rem;
  padding: 7px 50px;
  max-width: 150px;
  margin: auto;
  border: none;
  background-color: #0073b6;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-form button:hover {
  background-color: #05659c;
  box-shadow: 3px 2px 4px #00000043;
}

.popup-desc p {
  font-size: 0.9rem;
}

#lbl-register {
  display: block;
  color: #00267f;
  font-weight: bold;
  text-decoration: none;
}

/* Registration Form Styles */
.registration-form {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  height: fit-content;
  text-align: left;
  margin-top: 90px;
  margin-bottom: 10px;
}

.registration-form label {
  justify-content: left;
  font-size: 0.8rem;
  color: #000000df;
}

.registration-form input {
  border: 1px solid gray;
  font-size: 0.8rem;
  padding: 5px 30px;
  margin-bottom: 5px;
}

.registration-form button {
  font-size: 1rem;
  padding: 7px 50px;
  max-width: 150px;
  margin: auto;
  border: none;
  background-color: #0073b6;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 10px;
}

.registration-form button:hover {
  background-color: #05659c;
  box-shadow: 3px 2px 4px #00000043;
}

.popup-desc p {
  font-size: 0.9rem;
}

#lbl-login {
  display: block;
  color: #00267f;
  font-weight: bold;
  text-decoration: none;
}

.popup-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  background-color: #00267f;
}

#myCarousel {
  width: 100%;
}

.banner-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
}

/* Product Styles */

.product-wrapper {
  width: 84%;
  position: relative;
  left: 15%;
  
}

.category-title {
  margin-left: -10px;
  margin-bottom: 20px;
  background-color: #000731;
  width: fit-content;
  color: #fff;
  padding: 2px 50px;

  border-radius: 3px;

}


.product-container {
  max-width: 80vw;
  margin: auto;
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  left: 20px;
  margin-top: 40px;
}

.product-item {
  width: auto;
  height: auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 8px 15px #48474797;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.product-item:hover {
  box-shadow: 2px 8px 15px #484747ce;
}

.product-item img {
  width: 205px;
  height: 150px;
  object-fit: contain;
  margin: 0;
}

.product-item h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  margin: 0;
}

.product-item h3 {
  font-size: 0.7rem;
  margin: 0;
  font-weight: 600;
}

.lbl-stock {
  background-color: #03ac36;
  color: #fff;
  padding: 2px 5px;
  font-size: 0.8rem;
  position: relative;
  top: -8vh;
  border-radius: 4px;
  
}

.card-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  top: -1vw;
  align-items: center;
}

.card-row h2 {
  font-size: 1.2rem;
  color: #000731;
}

.card-row button {
  max-width: 100px;
  border: none;
  font-size: 0.8rem;
  padding: 6px 10px;
  border: 2px solid #000731;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.2s ease;
}

.card-row button:hover {
  background-color: #0073b6;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 10px #72c2f0;
}

/* Q-Popup Styles */
.q-popup-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #afb2b9b9;
  z-index: 1000;
}

.q-popup-content {
  min-width: 30vw;
  min-height: 20vh;
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #0000004b;
  position: relative;
}

.q-popup-content #close-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #000;
}

.q-popup-content #close-icon:hover {
  color: #d84747;
}

.q-content {
  min-width: 10vw ;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q-content input {
  font-size: 1rem;
  margin-top: 10px;
  padding: 3px;
  border-radius: 4px;
  text-align: center;
}

.q-content button {
  font-size: 1rem;
  padding: 6px 20px;
  margin-top: 15px;
  background-color: #0073b6;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.q-content button:hover {
  background-color: #025d91;
  box-shadow: 1px 1px 10px #5857574b;
}


/* Cart Styles */
.cart-container {
  max-width: 70vw;
  margin: auto;
  margin-top: 90px;
}

.cart-container a {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.cart-container a:hover {
  background-color: #00267f;
  color: #fff;
}

.cart-container h3 {
  font-size: 1.6rem;
  
  margin-top: 30px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cart-content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50vw;
  border-top: 1px solid #00000036;
  padding-top: 10px;
}

.cart-item img {
  width: 80px;
}

.cart-item h2 {
  font-size: 1.3rem;
}

#item-quantity {
  text-align: center;
  width: fit-content;
  
}

.cart-item button {
  font-size: 1rem;
  padding: 5px 20px;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.cart-item button:hover {
  background-color: rgb(225, 25, 25);
  box-shadow: 1px 1px 5px red;
}

.cart-total {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto auto auto;
}

.cart-total button {
  font-size: 1.2rem;
  background-color: #00267f;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s ease-in;

}

.cart-total button:hover {
  background-color: #062f8f;
  box-shadow: 1px 1px 5px #03517e;
}
